<?php /** @var \Magento\Framework\View\Element\Template $block */ ?>
<?php /** @var \Mbs\HolePunch\Block\APIResultViewModel $viewModel */ ?>
<?php $viewModel = $block->getData('viewModel'); ?>

<script type="text/x-magento-init">
    {
      "*":{
          "Magento_Ui/js/core/app": {
              "components": {
                  "api-data": {
                      "component":"Mbs_PunchHole/js/jspart",
                      "title":"Here goes some API punch holde data"
                  }
              }
          }
      }
    }
</script>

<div data-bind="scope: 'api-data'">
    <h3 data-bind="text: title"></h3>
    <div data-bind="text: showMyAPIResult()"></div>
</div>
